                      /*? Sobreescritura box-sizing bootstrap*/
.selector-for-some-widget {
    box-sizing: content-box;
  }


                      /*? Google Fonts */
  .fleur-de-leah {   /**Fleur De Leah: header titulo*/
    font-family: "Fleur De Leah", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 10rem;
  }

   /**Playfair: titulos (weight 600 style italic) y texto (weight 400 style normal)*/
  .playfair-display {  
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  color: rgb(31, 22, 22);

  }

  .playfair-display-title {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-style: italic;
    font-size: 2rem;
    
  }

        /*! Ajustes para el carrusel en móvil */
.carousel-item {
  text-align: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

      /*! Espaciado entre columnas en desktop */
@media (min-width: 768px) {
  .row.d-md-flex {
    display: flex;
    align-items: flex-start;
    gap: 2rem; /*! Espaciado entre formulario y lista */
  }

  .col-md-6 {
    flex: 1;
  }
}

                    /*? Header: Título, logo y el botón principal. */

  /** Botón primario personalizado */
.btn-primary {
  background-color: #6f4e37; 
  border: none;
}
.btn-primary:hover {
  background-color: #543a28;
}

  /**background header mobile*/
header.section-header{
  background-image: url("/assets/images/bgmobile-header-anem.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh; 
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  color: #72433c; 
}

  /**background header*/
     /*! background desktop*/
   @media (min-width: 768px) {
    .section {
      background-image: url("/assets/images/gbdesktop-header-anem.png");
    }
  }


@media (min-width: 768px) {
  header.section-header {
    background-image: url("/assets/images/gbdesktop-header-anem.png"); /* Fondo desktop */
  }
}

  /** Estilo del título principal **/
header.section-header h2 {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem; /* Tamaño del texto (mobile) */
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  header.section-header h2 {
    font-size: 2.5rem; 
  }
}

  /** Estilo del logo **/
header.section-header .logo-header {
  max-width: 250px; 
  margin: 1.5rem 0; 
}

  /** Estilo del nombre principal **/
header.section-header h1 {
  font-family: "Fleur de Leah", cursive;
  font-size: 4rem; 
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  header.section-header h1 {
    font-size: 5rem; 
  }
}

  /** Estilo del párrafo **/
header.section-header .header-p {
  font-family: "Playfair Display", serif;
  font-size: 1.7rem; 
  margin-bottom: 2rem;
  color: rgb(31, 22, 22);
}

  /** Estilo del botón **/
header.section-header .btn-conocenos {
  background-color: #9d5b44; /* Color del botón */
  border: none;
  color: #fff;
  font-size: 1.1rem; /* Tamaño de texto */
  padding: 0.75rem 1.5rem; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s ease;
}
header.section-header .btn-conocenos:hover {
  background-color: #7b4434; 
}

/*TODO NAVBAR: CHEQUEAR FONDO Y COLOR DE LA TRANSPARENCIA,SI NO SE PIERDE EN EL CONTENIDO*/
                             /*? Navbar style */
#navbar {
  background-color: #d4907ca2;
    position: fixed; /* Mantener fijo en la parte superior */
    top: 0; /* Pegarlo a la parte superior */
    width: 100%; /* Abarcar todo el ancho de la página */
    z-index: 1000; /* Asegurarse de que esté por encima de otros elementos */
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; /* Animaciones suaves para aparecer/desaparecer */
    margin-top: -10px;
}

.navbar{
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

nav a.navbar-brand {
  font-family: "Fleur De Leah", serif;
  font-size: 2.2rem;
}

.navbar-hidden {
  display: none;
  transform: translateY(-100%); /* Mover hacia arriba fuera de la pantalla */
  opacity: 0; /* Ocultar visualmente */
}


                         /*? Section 1: Rincón Patagónico */

  /**Background section 1*/
      /*! background mobile*/
section.s1-rincon-patagonico {

  background-image: url("/assets/images/bgmobile1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh; 
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  color: #72433c; /
}
      /*! background desktop*/
   @media (min-width: 768px) {
    section.s1-rincon-patagonico {
      background-image: url("/assets/images/bgdesktop1.png");

    }
  }

  /**h2 section 1*/
      /*!h2 section 1 - version mobile*/
section h2.h2-s1 {
  font-size: 2rem;
  margin-top: 15px;
  margin-bottom: -25px;
}

      /*! section 1 - img carrousel mobile**/
div img.car-mobile {
    height: 450px; 
    object-fit: cover; 
    object-position: center;
  }

      /*! section 1 - p section1 mobile**/
p.p-s1-mobile {
  font-size: 1.2rem;
  font-weight: 700;
  color: rgb(31, 22, 22);
}

      /*! section 1 - version desktop*/
@media (min-width: 768px) {
  section.s1-rincon-patagonico h2 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  }
}


                         /*? Section 2: Nuestra Casa*/

  /**Background section 2*/
      /*! background mobile*/
      section.s2-rincon-patagonico {

        background-image: url("/assets/images/bgmobile2.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100vh; 
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        text-align: center; 
      }
       /*! background desktop*/
         @media (min-width: 768px) {
          section.s2-rincon-patagonico {
            background-image: url("/assets/images/bgdesktop2.png");
      
          }
        }
         section.s2-rincon-patagonico h2{
          font-size: 2.5rem;
         }

