
/*TODO: Hay algunas clases que no se están utilizando? Hay que eliminarlas
/*TODO: Hay una linea blanca entre sections que se ve horrible.
                      /*? Sobreescritura box-sizing bootstrap*/
.selector-for-some-widget {
    box-sizing: content-box;
  }


                      /*? Google Fonts */
  .fleur-de-leah {   /**Fleur De Leah: header titulo*/
    font-family: "Fleur De Leah", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 10rem;
  }

   /**Playfair: titulos (weight 600 style italic) y texto (weight 400 style normal)*/
  .playfair-display {  
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  color: rgb(31, 22, 22);

  }

  .playfair-display-title {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-style: italic;
    font-size: 2rem;
    
  }

        /*! Ajustes para el carrusel en móvil */
.carousel-item {
  text-align: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

      /*! Espaciado entre columnas en desktop */
@media (min-width: 768px) {
  .row.d-md-flex {
    display: flex;
    align-items: flex-start;
    gap: 2rem; /*! Espaciado entre formulario y lista */
  }

  .col-md-6 {
    flex: 1;
  }
}

                    /*? Header: Título, logo y el botón principal. */

  /** Botón primario personalizado */
.btn-primary {
  background-color: #6f4e37; 
  border: none;
}
.btn-primary:hover {
  background-color: #543a28;
}

  /**background header mobile*/
header.section-header{
  background-image: url("../assets/images/bgmobile-header-anem.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh; 
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  color: #72433c; 
}

  /**background header*/
     /*! background desktop*/
   @media (min-width: 768px) {
    .section {
      background-image: url("../assets/images/gbdesktop-header-anem.png");
    }
  }


@media (min-width: 768px) {
  header.section-header {
    background-image: url("../assets/images/gbdesktop-header-anem.webp");
  }
}

  /** Estilo del título principal **/
header.section-header h2 {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem; 
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  header.section-header h2 {
    font-size: 2.5rem; 
  }
}

  /** Estilo del logo **/
header.section-header .logo-header {
  max-width: 250px; 
  margin: 1.5rem 0; 
}

  /** Estilo del nombre principal **/
header.section-header h1 {
  font-family: "Fleur de Leah", cursive;
  font-size: 4rem; 
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  header.section-header h1 {
    font-size: 5rem; 
  }
}

  /** Estilo del párrafo **/
header.section-header .header-p {
  font-family: "Playfair Display", serif;
  font-size: 1.7rem; 
  margin-bottom: 2rem;
  color: rgb(31, 22, 22);
}

  /** Estilo del botón **/
header.section-header .btn-conocenos {
  background-color: #9d5b44; 
  border: none;
  color: #fff;
  font-size: 1.1rem; 
  padding: 0.75rem 1.5rem; 
  border-radius: 5px; 
  transition: background-color 0.3s ease;
}
header.section-header .btn-conocenos:hover {
  background-color: #7b4434; 
}

/*TODO NAVBAR: CHEQUEAR FONDO Y COLOR DE LA TRANSPARENCIA,SI NO SE PIERDE EN EL CONTENIDO*/
                             /*? Navbar style */
 #navbar {
   background-color: #d4907ca2;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 1000;
   transition: transform 0.3s ease-out, opacity 0.3s ease-out; /* Unificamos transiciones */
   margin-top: 0; /* Eliminamos el margen negativo */
   transform: translateY(-100%); /* Estado inicial oculto */
   opacity: 0; /* Oculto inicialmente */
  }        
.navbar-visible {
   transform: translateY(0) !important;
   opacity: 1 !important;
  }
                            
.navbar {
   padding-bottom: 0;
   margin-bottom: 0;
  }
                            
nav a.navbar-brand {
   font-family: "Fleur De Leah", serif;
   font-size: 2.2rem;
  }

/*
#navbar {
  background-color: #d4907ca2;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; 
    margin-top: -10px;
}

.navbar{
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

nav a.navbar-brand {
  font-family: "Fleur De Leah", serif;
  font-size: 2.2rem;
}

.navbar-hidden {
  display: none;
  transform: translateY(-100%); 
  opacity: 0;  Ocultar visualmente 
  transition: transform 0.3s ease-out;
}
*/

                         /*? Section 1: Rincón Patagónico */

  /**Background section 1*/
      /*! background mobile*/
section.s1-rincon-patagonico {

  background-image: url("../assets/images/bgmobile1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh; 
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  color: #72433c; 
}
      /*! background desktop*/
   @media (min-width: 768px) {
    section.s1-rincon-patagonico {
      background-image: url("../assets/images/bgdesktop1.webp");

    }
  }

  /**h2 section 1*/
      /*!h2 section 1 - version mobile*/
section h2.h2-s1 {
  font-size: 2rem;
  margin-top: 15px;
  margin-bottom: -25px;
}

      /*! section 1 - img carrousel mobile**/
div img.car-mobile {
    height: 450px; 
    object-fit: cover; 
    object-position: center;
  }

      /*! section 1 - p section1 mobile**/
p.p-s1-mobile {
  font-size: 1.2rem;
  font-weight: 700;
  color: rgb(31, 22, 22);
}

      /*! section 1 - version desktop*/
@media (min-width: 768px) {
  section.s1-rincon-patagonico h2 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  margin-top: 1.5rem;
  }
}


                         /*? Section 2: Nuestra Casa*/

  /**Background section 2*/
      /*! background mobile*/
      section.s2-rincon-patagonico {

        background-image: url("/assets/images/bgmobile2.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100vh; 
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        text-align: center; 
      }

       /*! background desktop*/
       @media (min-width: 768px) {
        section.s2-rincon-patagonico {
          background-image: url("../assets/images/bgdesktop2.webp");
        }
      }
      section.s2-rincon-patagonico h2{
        font-size: 2.5rem;
        margin-top: 1.5rem;
        color: #55312c
       }


       /*! Carrousel imganes de la casa*/
       @media (max-width: 767px) {
 
        #casaCarousel {
          height: 450px;
          overflow: hidden;
          position: relative;
        }
      
        #casaCarousel .carousel-item {
          height: 450px;
          position: relative; 
        }
    
        #casaCarousel .carousel-item img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
          display: block;
        }
      
        #casaCarousel .carousel-item p {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          margin: 0;
          padding: 0.5rem;
          background-color: rgba(0, 0, 0, 0.6);
          color: #fff;
          text-align: center;
          font-size: 1rem;
          z-index: 10;
        }
      }

                         /*? Section 3: Donde estamos*/
  /**Background section 3*/
      /*! background mobile*/
      section.s3-donde-estamos {

        background-image: url("../assets/images/bgmobile1.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100vh; 
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        text-align: center; 
      }

       /*! background desktop*/
       @media (min-width: 768px) {
        section.s3-donde-estamos {
          background-image: url("../assets/images/bgdesktop1.webp");
        }
      }
  /**Estilos del mapa Section 3*/
      #map {
        height: 400px; 
        border-radius: 10px; 
        overflow: hidden; 
      }
    /**Estilos h2 section 3*/
      section.s3-donde-estamos h2{
        font-size: 2.5rem;
        margin-top: 1.5rem;
        color: #55312c
      }
    /**Estilos p section 3*/
      section.s3-donde-estamos p.p-s3{
        font-size: 1.4rem;
      }
    /**Estilos de la lista section 3*/ 
      section.s3-donde-estamos ul.ul-s3{
        font-size: 1.2rem;
        list-style-type: none;
        padding-left: 0; 
      }

    .ul-s3 li {
      transition: all 0.3s ease;
    }

    .ul-s3 li.seleccionado {
      text-decoration: underline; 
      font-weight: bold; 
      color: #351c0a; 
    }

                        /*? Section 4: Sobre Nosotros*/

  /**Background section 4*/
        /*! background mobile*/
        section.s4-sobre-nosotros {

          background-image: url("../assets/images/bgmobile2.webp");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          min-height: 100vh; 
          display: flex;
          flex-direction: column; 
          justify-content: center; 
          align-items: center; 
          text-align: center; 
        }
  
         /*! background desktop*/
         @media (min-width: 768px) {
          section.s4-sobre-nosotros {
            background-image: url("../assets/images/bgdesktop2.webp");
          }
        }
  /**Estilo h2 section 4*/
        section.s4-sobre-nosotros h2{
          font-size: 2.5rem;
          margin-top: 30px;
          color: #55312c
        }
  /**Estilo p section 4*/
        section.s4-sobre-nosotros p{
          font-size: 1.4rem;
        }

  /**Estilos de las cards de comentarios*/
  .comentario-card {
    background-color: transparent; 
    border: 1px solid rgba(128, 128, 128, 0.5); 
    border-radius: 8px; 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); 
    padding: 1rem;
    margin-bottom: 1rem; 
  }

  div.comentario-card p {
    font-size: 1.2rem;
  }

  div.comentario-card strong{
    font-size: 1.5rem;
  }


                                /*? Section 5: Experiencias Huespedes*/

    /**Background section 5*/
        /*! background mobile*/
        section.s5-exp-huespedes {

          background-image: url("../assets/images/bgmobile1.webp");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          min-height: 100vh; 
          display: flex;
          flex-direction: column; 
          justify-content: center; 
          align-items: center; 
          text-align: center; 
        }
  
         /*! background desktop*/
         @media (min-width: 768px) {
          section.s5-exp-huespedes {
            background-image: url("../assets/images/bgdesktop1.webp");
          }
        }

    /**h2 section 5*/
      /*!h2 section 1 - version mobile*/
        section h2.h2-s5 {
          font-size: 2.5rem;
          margin-top: 30px;
          color: #55312c;
        }

    /**Labels de los formularios section 5*/
    form label.form-com {
      font-size: 1.1rem !important;
    }
    
    section h3.h3-s5 {
      font-size: 1.7rem;
    }


  /**Scroll y altura comentarios section 5 desktop*/
       @media (min-width: 768px) {
        #comentarios-lista-section5 {
        max-height: 450px;
        overflow-y: auto;
        padding-right: 10px; 
      }
  }
  
